h1 {
    color: deepskyblue;
    font-family: "Arial";
    font-size: 50px;
}
h2 {
    color: deepskyblue;
    font-family: "Arial";
}
div{
    margin-bottom: 25px;
    color:deepskyblue;
}
body{
    background-color: orange;
}